<div class="header-gray-bg"></div>
<header class="site-header header-post">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {% include blocks/banana_logo.html %}
    <a href="{{ "/" | relative_url }}">
      <div class="kelvin-head" onclick="location.href='{{ "/about/" | relative_url }}';"/>
    </a>
  </div>
</header>
{% if page.cover %}
  <img class="thumbnail-cover" src="{{page.cover}}">
{%- endif -%}
