<header class="site-header header-post">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <img src="{{ "/assets/images/logo.svg" | relative_url }}"/>
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
</header>
{% if page.cover %}
  <img class="thumbnail" src="{{page.cover}}">
{%- endif -%}
