@import url('https://fonts.googleapis.com/css?family=Heebo:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
  font-family: 'Heebo', sans-serif;
}

h1{
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: $black;
}
