---
layout: default
---

<h2 class="projects-heading">
  Projects
</h2>

<div class="home home-posts">
  {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
      <div class="post-list-item">
        <div class="post-title-block">
          <span class="post-category">{{post.category}}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </div>
        <div class="post-thumbnail">
          {% if post.thumbnail %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              <img class="thumbnail" src="{{post.thumbnail}}">
            </a>
          {%- endif -%}
        </div>
      </div>
      <div class="post-list-item-mobile">
        <div class="post-thumbnail">
          {% if post.thumbnail %}
            <img class="thumbnail" src="{{post.thumbnail}}">
          {%- endif -%}
        </div>
        <div class="post-title-block">
          <span class="post-category">{{post.category}}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </div>
      </div>
      {%- endfor -%}
  {%- endif -%}

</div>

<script>
  window.onload = function(){
    document.getElementById("scrolling-number").style.display = "block"
  }
</script>

