<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {% include header_post.html %}
    <main class="page-content" aria-label="Content">
        <div class="wrapper post-wrapper">
          <article class="post h-entry post-with-cover" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h5 class="post-category">{{ page.category }}</h5>
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          </header>

          <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
          </div>

          {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
          {%- endif -%}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
      </div>
      <div class="more-works">
        <h2>More works to see</h2>
      </div>
    </main>

  {%- include social.html -%}
  </body>

</html>
